@import url('../fonts/Lato2OFLWeb/Lato/latofonts.css');
@import url('../fonts/Lato2OFLWeb/Lato/latostyle.css');

h1,h2,h3,h4,h5,h6,p {
  font-family: "LatoWeb";
  color: white;
}

a {
  color: #00B7FF;
}

.books-container {
  display: flex;
  flex-direction: "row";
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
}

.book-card {
  position: relative;
  margin: 20px;
}

body {
  color: white;
  background: linear-gradient(
    rgba(58, 8, 57, 0.9),
    rgba(58, 8, 57, 0.9)
  ), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.app {
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
}

.icon {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.box {
  position: relative;
  height: 400px;
  width: 600px;
  border: none;
  background: none;
}

.line-1 {
  position: absolute;
  background: #6AC0D6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 45%;
  z-index: 1;
}

.line-2{
  position: absolute;
  background: #89E5F6;
  height: 50%;
  bottom: 25%;
  width: 5%;
  left: 50%;
  z-index: 1;
}

.triangle{
  position: absolute;
  height: 40%;
  width: 200%;
  top: -20%;
  left: -100%;
  background: #08517A;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.triangle-sm{
  position: absolute;
  height: 30%;
  width: 100%;
  top: -15%;
  left: -0%;
  background: #6AC0D6;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 2;
}

.shine{
  position: absolute;
  height: 20%;
  width: 100%;
  top: 90%;
  background: #B2E4F6;
  animation: shine 0.8s infinite;
  z-index: 3;
}

.line-3{
  position: absolute;
  background: #89E5F6;
  height: 30%;
  bottom: 25%;
  width: 5%;
  left: 40%;
  z-index: 1;
}

.line-4{
  position: absolute;
  background: #08517A;
  height: 35%;
  bottom: 25%;
  width: 5%;
  left: 55%;
  z-index: 1;
}

@keyframes shine{
  0%{
    top: 100%;
  }
  100% {
    top: -10%;
  }
}

.stream-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.stream-cover {
  position: relative;
  margin: 20px;
}

.stream-title {
  -webkit-justify-content: center;
  justify-content: center;
  font-size: large; 
}